.avatars-collection .display-flex{
  display:flex;
  align-items: flex-end;

}
.self-aligned{
  margin-right: 1rem;
}
.avatar-small{
    border-radius: 50%;
    height: 2.8rem;
    width: 2.8rem;
  }
  .avatar-normal {
    border-radius: 50%;
    height: 3.5rem;
    width: 3.5rem;
  }
  .avatar-medium {
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
  }
  .avatar-large {
    border-radius: 50%;
    height: 4.5rem;
    width: 4.5rem;
  }