:root{
    --pri-color: #fc452e;
}
.display-grid-2-2{
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.4rem;
}
.child{
    background-color:var(--pri-color) ;
    height: 1.5rem;
}
.display-grid-4-4{
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap: 0.4rem;
}