<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Component collection</title>
  </head>
  <body>
    <!-- NAVBARS -->
    <nav class="nav-wrapper-1">
      <div class="brand">LOGO.</div>
      <div>
        <ul class="list-items-flex list-non-bullet" id="list-addon-1">
          <li>Home</li>
          <li>Profile</li>
          <li>About</li>
          <li>Contact</li>
        </ul>
      </div>
    </nav>

    <br />

    <nav class="nav-wrapper-2">
      <div class="brand">LOGO.</div>
      <div class="list-centered">
        <ul class="list-items-flex list-non-bullet" id="list-addon-2">
          <li>Home</li>
          <li>Profile</li>
          <li>About</li>
          <li>Contact</li>
        </ul>
      </div>
    </nav>

    <br />

    <nav class="nav-wrapper-3">
      <div class="logoAndList-container">
        <div class="brand">LOGO.</div>
        <div class="list-centered">
          <ul class="list-items-flex list-non-bullet" id="list-addon-2">
            <li>Home</li>
            <li>Profile</li>
            <li>About</li>
            <li>Contact</li>
          </ul>
        </div>
      </div>
      <div class="search-wrapper">
        <input
          class="search-wrapper_input"
          type="search"
          placeholder="Search"
        />
        <span><i class="fas fa-search"></i></span>
      </div>
    </nav>

    <br />

    <nav class="nav-wrapper-4">
      <div class="logoAndList-container">
        <div class="brand">LOGO.</div>
        <div class="list-centered">
          <ul class="list-items-flex list-non-bullet" id="list-addon-2">
            <li>Home</li>
            <li>Profile</li>
            <li>About</li>
            <li>Contact</li>
          </ul>
        </div>
      </div>
      <div class="cta-wrapper">
        <a class="btn btn-outline-primary" href="">LOG IN</a>
        <a class="btn btn-primary" href="">SIGN UP</a>
      </div>
    </nav>

    <br />

    <!-- MODALS -->

    <div class="modal-wrapper" style="width: 25rem">
        <div class="modal-header">
          <h2>Modal title</h2>
          <span><i class="fas fa-times"></i></span>
        </div>
        <div class="modal-body">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati,
            nemo voluptatum id reprehenderit amet totam.
          </p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline-secondary" id="closeMe">Close</button>
          <button class="btn btn-primary">Save</button>
        </div>
      </div>
    <br />

    <!-- TYPOGRAPHY -->

    <p class="line-through centered">
      hey guys <span class="mark">danish here</span
      ><span class="strong italic">boldtext</span>
    </p>

    <!-- LISTS -->
    <ul class="list-items-flex list-non-bullet">
      <li>home</li>
      <li>profile</li>
      <li>about</li>
      <li>contact</li>
    </ul>
    <ul class="list-non-bullet">
      <li>home</li>
      <li>profile</li>
      <li>about</li>
      <li>contact</li>
    </ul>

    <ul class="list-non-bullet list-stacked list-stacked-hover">
      <li>You have a message!</li>
      <li>Somebody sent an email</li>
      <li>Checkout the latest news</li>
      <li>More information...</li>
    </ul>
    <hr />

    <!-- BUTTONS -->

    <button class="btn btn-primary">Primary</button>
    <button class="btn btn-secondary">Secondary</button>
    <button class="btn btn-success">Success</button>
    <button class="btn btn-danger">Danger</button>
    <button class="btn btn-link">Link</button>
    <button class="btn-float"><i class="fas fa-plus"></i></button>
    <button class="btn-icon btn-icon-hover"><i class="fas fa-home"></i></button>
    <div class="badge-button-wrapper">
      <button class="btn-icon"><i class="fas fa-bell"></i></button>
      <div class="counter-badge">5</div>
    </div>
    <button class="btn-outline-icon btn-outline-icon-hover">
      <i class="fas fa-home"></i>
    </button>

    <br /><br />

    <button class="btn btn-outline-primary">Primary</button>
    <button class="btn btn-outline-secondary">Secondary</button>
    <button class="btn btn-outline-success">Success</button>
    <button class="btn btn-outline-danger">Danger</button>

    <br /><br />

    <button class="btn btn-large btn-primary">Large</button>
    <button class="btn btn-small btn-secondary">cancel</button>
    <hr />

    <!-- AVATARS -->

    <div class="avatar-wrapper-small">
      <img
        class="avatar-small"
        src="images\shahin-khalaji-Ac5sm2yOLFc-unsplash.jpg"
        alt="avatar"
      />
      <div class="green-badge"></div>
    </div>

    <div class="avatar-wrapper-normal">
      <img
        class="avatar-normal"
        src="images\shahin-khalaji-Ac5sm2yOLFc-unsplash.jpg"
        alt="avatar"
      />
      <div class="red-badge"></div>
    </div>

    <div class="avatar-wrapper-medium">
      <img
        class="avatar-medium"
        src="images\shahin-khalaji-Ac5sm2yOLFc-unsplash.jpg"
        alt="avatar"
      />
      <div class="green-badge"></div>
    </div>

    <div class="avatar-wrapper-large">
      <img
        class="avatar-large"
        src="images\shahin-khalaji-Ac5sm2yOLFc-unsplash.jpg"
        alt="avatar"
      />
      <div class="green-badge"></div>
    </div>

    <hr />

    <!-- ALERTS AND BADGES -->

    <div>
      <div class="error">
        <p>
          <span class="badge-error">ERROR</span>
          <i class="fas fa-exclamation"></i> There was an error processing your
          request
        </p>
      </div>
      <div class="success">
        <p>
          <span class="badge-success">SUCCESS</span
          ><i class="fas fa-check"></i> File upload successfull
        </p>
      </div>
      <div class="warning">
        <p>
          <span class="badge-warning">WARNING</span
          ><i class="fas fa-exclamation"></i> Account about to expire
        </p>
      </div>
      <div class="info">
        <p>
          <span class="badge-info">INFO</span
          ><span class="badge-neutral">NEUTRAL</span>
          <i class="fas fa-info"></i> You can download multiple images.
        </p>
      </div>
    </div>
    <hr />

    <!-- CARDS -->

    <div class="card-collection">
      <div class="text-card-wrapper card-shadow-dark" style="width: 14rem">
        <div class="card-heading">
          <h1>Simple Heading</h1>
        </div>
        <div>
          <p class="card-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
            amet optio, reiciendis maiores provident a aperiam id architecto,
            laboriosam quod vitae repellendus voluptates corporis quas.
            Similique minima veritatis ratione in.
          </p>
        </div>
        <div class="card-footer">
          <button class="btn btn-link">Sure</button>
          <button class="btn btn-link">No,Thanks</button>
        </div>
      </div>

      <div class="text-card-wrapper card-shadow-dark" style="width: 14rem">
        <div class="card-heading">
          <h1>Simple Heading</h1>
          <button class="btn btn-link"><i class="fas fa-times"></i></button>
        </div>
        <div>
          <p class="card-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
            amet optio, reiciendis maiores provident a aperiam id architecto,
            laboriosam quod vitae repellendus voluptates corporis quas.
            Similique minima veritatis ratione in.
          </p>
        </div>
      </div>

      <div class="image-card-wrapper outlined" style="width: 25rem">
        <div class="card-image">
          <img
            src="images\luke-stackpoole-eWqOgJ-lfiI-unsplash.jpg"
            alt="..."
          />
          <button class="btn btn-link"><i class="fas fa-times"></i></button>
          <span class="badge-success">New</span>
        </div>
        <div>
          <h3 class="card-heading">A simple heading.</h3>
        </div>
        <div>
          <p class="card-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
            amet optio, reiciendis maiores provident a aperiam id architecto,
            laboriosam quod vitae repellendus voluptates corporis quas.
            Similique minima veritatis ratione in.
          </p>
        </div>
        <div>
          <button class="btn btn-primary">Primary</button>
        </div>
      </div>

      <div class="image-card-wrapper outlined" style="width: 15rem">
        <div class="card-image">
          <img
            src="images\mateo-avila-chinchilla-x_8oJhYU31k-unsplash.jpg"
            alt="..."
          />
          <span class="badge-success">New</span>
        </div>
        <div class="product-details-wrapper">
          <p class="strong">Ether</p>
          <p>Pure Cotton polo tshirt</p>
          <p>
            <span class="strong">Rs395</span
            ><span class="strike-through">Rs799</span
            ><span style="color: #fc452e">(50% OFF)</span>
          </p>
        </div>
      </div>

      <div class="image-card-wrapper card-shadow-dark" style="width: 25rem">
        <div class="card-image">
          <img
            src="images\luke-stackpoole-eWqOgJ-lfiI-unsplash.jpg"
            alt="..."
          />
          <p class="top-left">Text Overlay</p>
          <p class="top-right">Text Overlay</p>
          <p class="bottom-left">Text Overlay</p>
          <p class="bottom-right">Text Overlay</p>
          <p class="center">Text Overlay</p>
        </div>
        <div>
          <h3 class="card-heading">A simple heading.</h3>
        </div>

        <div>
          <p class="card-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
            amet optio, reiciendis maiores provident a aperiam id architecto,
            laboriosam quod vitae repellendus voluptates corporis quas.
            Similique minima veritatis ratione in.
          </p>
        </div>
        <div class="card-footer">
          <button class="btn btn-link">Sure</button>
          <button class="btn btn-link">No,Thanks</button>
        </div>
      </div>
    </div>
    <hr />

    <!-- INPUT FIELDS WITH VALIDATIONS-->

    <div class="input-field-wrapper">
      <span class="input-text basic-addon-1">@</span>
      <input class="input-field-1" type="text" placeholder="Username" />
    </div>
    <br />
    <div class="input-field-wrapper">
      <input class="input-field-2" type="text" placeholder="Email id" />
      <span class="input-text basic-addon-2">@example.com</span>
    </div>
    <br />

    <div class="input-field-wrapper">
      <span class="input-text size-medium basic-addon-1">medium</span>
      <input
        class="input-field-1 size-medium"
        type="text"
        placeholder="Username"
      />
    </div>
    <br />

    <div class="input-field-wrapper">
      <span class="input-text size-large basic-addon-1">large</span>
      <input
        class="input-field-1 size-large"
        type="text"
        placeholder="Username"
      />
    </div>
    <br />

    <div class="input-field-wrapper">
      <button class="btn btn-secondary basic-addon-1">Secondary</button>
      <input
        class="input-field-1 size-medium"
        type="text"
        placeholder="Username"
      />
    </div>

    <br />
    <div class="input-field-wrapper">
      <input
        class="input-field-2 size-medium"
        type="password"
        placeholder="Enter password"
      />
      <button class="btn btn-secondary basic-addon-2">show password</button>
    </div>
    <br />

    <div class="form-field-wrapper">
      <div class="input-field-wrapper">
        <span class="input-text size-medium basic-addon-1">medium</span>
        <input
          class="input-field-1 size-medium"
          type="text"
          placeholder="Username"
        />
      </div>
      <div class="invalid-feedback">
        <i class="fas fa-exclamation"></i> Username already taken!
      </div>
    </div>
    <br />

    <div class="form-field-wrapper">
      <div class="input-field-wrapper">
        <span class="input-text size-medium basic-addon-1">medium</span>
        <input
          class="input-field-1 size-medium"
          type="text"
          placeholder="Username"
        />
      </div>
      <div class="valid-feedback">
        <i class="far fa-check-circle"></i> Looks Good!
      </div>
    </div>

    <!-- Ratings -->
    <div class="star-rating-wrapper">
      <label>
        <input class="star-rating-input" type="checkbox">
        <i class="fas fa-star star-rating-icon"></i>
      </label>
      <label>
        <input class="star-rating-input" type="checkbox">
        <i class="fas fa-star star-rating-icon"></i>
      </label>
      <label>
        <input class="star-rating-input" type="checkbox">
        <i class="fas fa-star star-rating-icon"></i>
      </label>
      <label>
        <input class="star-rating-input" type="checkbox">
        <i class="fas fa-star star-rating-icon"></i>
      </label>
      <label>
        <input class="star-rating-input" type="checkbox">
        <i class="fas fa-star star-rating-icon"></i>
      </label>
    </div>

    <!-- Toasts -->

    <div class="toast-wrapper success-toast">
      <span>Saved !</span><i class="fas fa-times"></i>
    </div>
    <div class="toast-wrapper failure-toast">
      <span>Something is wrong!</span><i class="fas fa-times"></i>
    </div>
    <div class="toast-wrapper info-toast">
      <span>Saving...!</span><i class="fas fa-times"></i>
    </div>

  </body>
</html>